body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #7e6a6a;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .recipe-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }

  #dishes2{
    margin: 100px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  .description {
    margin-bottom: 20px;
  }

  .feedback-form {
    margin-bottom: 50px;
  }

  .feedback-form input[type="text"],
  .feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .feedback-form input[type="submit"] {
    background-color: #fe4066;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .feedback-form input[type="submit"]:hover {
    background-color: #7e192d;
  }

  #comments{
    margin-bottom: 100px;
  }

  .comment{
    border: solid gray 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    background-color: white;
  }


/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    #dishes2 {
        margin: 40px;
    }
}